.part {
  margin-top: 16px;
  height: 100vh;
}

.progress-bar {
  top: 0;
  left: 0;
  background: linear-gradient(to right, #a617ff, #6236ff);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: 6px;
  position: fixed;
  transition: width 200ms linear;
}
